In [40]:
import pandas as pd
import matplotlib.pyplot as plt
import math
import numpy as np

In [41]:
test = pd.read_table('horseColicTest.txt',header = None)
test.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,2,1,38.5,54,20,0,1,2,2,3,...,2,2,5.9,0,2,42.0,6.3,0,0.0,1
1,2,1,37.6,48,36,0,0,1,1,0,...,0,0,0.0,0,0,44.0,6.3,1,5.0,1
2,1,1,37.7,44,28,0,4,3,2,5,...,1,1,0.0,3,5,45.0,70.0,3,2.0,1
3,1,1,37.0,56,24,3,1,4,2,4,...,1,1,0.0,0,0,35.0,61.0,3,2.0,0
4,2,1,38.0,42,12,3,0,3,1,1,...,0,0,0.0,0,2,37.0,5.8,0,0.0,1

In [42]:
train = pd.read_table('horseColicTraining.txt',header = None)
train.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,2.0,1.0,38.5,66.0,28.0,3.0,3.0,0.0,2.0,5.0,...,0.0,0.0,0.0,3.0,5.0,45.0,8.4,0.0,0.0,0.0
1,1.0,1.0,39.2,88.0,20.0,0.0,0.0,4.0,1.0,3.0,...,0.0,0.0,0.0,4.0,2.0,50.0,85.0,2.0,2.0,0.0
2,2.0,1.0,38.3,40.0,24.0,1.0,1.0,3.0,1.0,3.0,...,0.0,0.0,0.0,1.0,1.0,33.0,6.7,0.0,0.0,1.0
3,1.0,9.0,39.1,164.0,84.0,4.0,1.0,6.0,2.0,2.0,...,1.0,2.0,5.0,3.0,0.0,48.0,7.2,3.0,5.3,0.0
4,2.0,1.0,37.3,104.0,35.0,0.0,0.0,6.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,74.0,7.4,0.0,0.0,0.0

In [43]:
def sigmoid(x):
    return 1/(1+np.exp(-x))

def BGD_LR(df,alpha=0.01,maxCycles=500):
    xMat = np.mat(df.iloc[:,:-1])
    yMat = np.mat(df.iloc[:,-1])

    m,_ = xMat.shape
    xMat = np.column_stack((np.ones(m), xMat))

    # æ ·æœ¬çš„è¡Œå’Œåˆ—
    m,n = xMat.shape
    weights = np.zeros((n,1))
    # æœ€ä¼˜åŒ–ç®—æ³•ï¼š è¿­ä»£æ›´æ–°

    for i in range(maxCycles):
        h = sigmoid(xMat * weights)
        grad = xMat.T * (h - yMat.T)/m
        weights -= alpha*grad
    return weights

In [44]:
def classifyVector(inX):
    if inX > 0.5:
        return 1.0
    else:
        return 0.0

In [47]:
def colicTest():
    # è®­ç»ƒé›† =ã€‹ weights
    ws = BGD_LR(train,alpha=0.001,maxCycles=5000)
    # xMaté»˜è®¤ä¸º1
    xMat = np.array(test.iloc[:,:-1])
    xMat = np.column_stack((np.ones(xMat.shape[0]),xMat))
    # é¢„æµ‹æ ‡ç­¾
    predict = sigmoid(np.array(np.mat(xMat) * np.mat(ws)).flatten())
    predict = [ classifyVector(i) for i in predict]
    Acc = np.mean(test.iloc[:,-1] == predict)
    return Acc

In [48]:
colicTest()

0.7761194029850746