In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
def getFile(dir):
    files = os.listdir(dir)
    imgs = []
    labels = []
    for file_name in files:
        # 数字文件 -》 一行字符串
        imgs.append(''.join(np.loadtxt(f'{dir}/{file_name}',dtype=str)))
        # 提取数字标签
        labels.append(file_name.split('_')[0])
    return pd.DataFrame({
        'imgs':imgs,
        'labels':labels
    })

In [3]:
def getFiles(dirs):
    return list(map(getFile,dirs))

In [4]:
[test, train] = getFiles(["../testDigits","../trainingDigits"])

In [5]:
def hanming(A,B):
    return sum([a != b for (a,b) in zip(A,B)])

In [6]:
test.iloc[300]

imgs      0000000000000100000000000000000000000000001111...
labels                                                    3
Name: 300, dtype: object

In [7]:
train

                                                   imgs labels
0     0000000000000111100000000000000000000000000011...      0
1     0000000000011111000000000000000000000000001111...      0
2     0000000000000011000000000000000000000000000001...      0
3     0000000000001111000000000000000000000000000111...      0
4     0000000000000011111000000000000000000000000011...      0
...                                                 ...    ...
1929  0000000000000000000100000000000000000000000000...      9
1930  0000000000000000000000010000000000000000000000...      9
1931  0000000000000000000000010000000000000000000000...      9
1932  0000000000000011111100000000000000000000000111...      9
1933  0000000000000011111100000000000000000000000001...      9

[1934 rows x 2 columns]

In [8]:
A0 = "0000000000000110000000000000000000000000000011111100000000000000000000000001111111110000000000000000000001111111111100000000000000000001111111111111100000000000000000001111111000111100000000000000000111111000000111000000000000000001111110000001110000000000000000111111000000011100000000000000001111110000000111100000000000000011111100000000011100000000000000111111000000000111000000000000001111100000000000111000000000000011111000000000001110000000000000011111000000000001110000000000000111110000000000011100000000000001111100000000000111000000000000111110000000000001110000000000001111100000000000011100000000000000111100000000000011100000000000001111000000000001111000000000000011110000000000011110000000000000111100000000001111100000000000000111100000000001111100000000000001111100000000111110000000000000011111000000011111100000000000000111110000001111110000000000000001111110001111111100000000000000000111111111111110000000000000000001111111111111000000000000000000001111111111000000000000000000000000111110000000000000"
B0 = "0000000000000111100000000000000000000000000011111110000000000000000000000011111111110000000000000000000111111111111110000000000000000001111111011111100000000000000000111111100000111100000000000000001111111000000011100000000000000011111110000000111100000000000000111111100000000111000000000000001111111000000001110000000000000011111100000000011110000000000000111111000000000011100000000000001111110000000000111000000000000001111110000000000111000000000000011111100000000001110000000000000111111000000000011100000000000001111110000000000111000000000000111111100000000011110000000000001111011000000000111100000000000011110000000000011110000000000000011110000000000011110000000000000111100000000001111100000000000001111000000000111110000000000000011110000000011111000000000000000011100000011111100000000000000000111100011111110000000000000000001111111111111100000000000000000001111111111111000000000000000000011111111111100000000000000000000011111111100000000000000000000000011111000000000000000000000000000011000000000000000000"
B2 = "0000000000111111100000000000000000000000011111111100000000000000000000000111111111100000000000000000000001111111111110000000000000000000111111111111100000000000000000011111111111111100000000000000001111111000111111000000000000000001111110000111111000000000000000011111100001111110000000000000000111111000011111100000000000000001111100000111111000000000000000011111100000111111000000000000000111111100001111110000000000000000111111000011111000000000000000001111100001111110000000000000000000111000001111110000000000000000000000000011111000000000000000000000000001111100000000000000000000000000011111100000000000000000000000001111110000000000000000000000000111111100000000000000000000000011111110000000000000000000000000011111110000000000000000000000001111111000000000000000000000000111111100000000000000000000000011111110000000000000000000000011111111111111111110000000000001111111111111111111110000000000111111111111111111111100000000000111111111111111111111000000000000111111111111111111110000000000000111111111111111110000"

In [9]:
dist1 = train.iloc[:,0].apply(lambda x: hanming(A0, x))
dist_s = ((pd.DataFrame({
    'dist':dist1,
    'label':train.iloc[:,1]
})).sort_values(by="dist")).iloc[:5]

dist_s.value_counts('label').index[0]

'0'

In [10]:
def knn(inX, df, k):
    dist = df.iloc[:,0].apply(lambda x: hanming(inX,x))

    dist_1 = pd.DataFrame({
        'dist': dist,
        'label': df.iloc[:, -1]
    })

    dist_k = (dist_1.sort_values(by='dist')).iloc[:k]
    return dist_k.value_counts('label').index[0]

In [11]:
knn(B0,test,3)

'0'

In [12]:
test.iloc[0]

imgs      0000000000000110000000000000000000000000000011...
labels                                                    0
Name: 0, dtype: object

In [13]:
def digitsTest(test,train,k):
    predict = []
    for __, row in test.iterrows():
        predict.append(knn(row[0],train,k))
    return np.mean(predict == test.iloc[:,-1])

In [14]:
digitsTest(test,train,3)

0.9894291754756871

In [15]:
knn(B2,test,3)

'2'